[include ./KlickyProbe/klicky-probe.cfg]
[include nitehawk-sbv2.cfg]
[include mainsail.cfg]
#[include adxl345-v2.0.cfg]
[include Knomi2.cfg]
[include nozzle_scrub-2.cfg]
[include timelapse.cfg]
[include LED-Macros-Main.cfg]
#[include Cold_Pull.cfg]
#[include led-test.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_06001A000D51313339373836-if00

[mcu nhk]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3C001D000251353032333039-if00

[exclude_object]

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4000
max_z_velocity: 25
max_z_accel: 400
square_corner_velocity: 5.0

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400
endstop_pin: ^PG6
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.85
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400
endstop_pin: ^PG9
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 80
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.85
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 260
position_min: -5
homing_speed: 7
second_homing_speed: 3
homing_retract_dist: 2

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

[heater_bed]
heater_pin: PA3
sensor_pin: PF3
sensor_type: Generic 3950
max_power: 0.85
min_temp: 0
max_temp: 120

[temperature_fan MCU_Bay_fan]
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
sensor_type: temperature_mcu
control: pid
pid_Kp: 1.0
pid_Ki: 0.5
pid_Kd: 0.0
min_temp: 0
max_temp: 100
target_temp: 40
max_speed: 1.0
min_speed: 0.0
off_below: 0.15

[temperature_fan Pi5_Bay_fan]
pin: PD12
max_power: 1.0
shutdown_speed: 0.0
sensor_type: temperature_host
control: watermark
max_delta: 2.0
kick_start_time: 0.3
min_temp: 0
max_temp: 100
target_temp: 38
max_speed: 1.0
min_speed: 0.0
off_below: 0.22

[fan_generic exhaust_fan]
pin: PD14
max_power: 1.0
kick_start_time: 0.5

[delayed_gcode DISABLE_EXHAUST]
gcode:
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.0

[idle_timeout]
timeout: 1800

[quad_gantry_level]
gantry_corners:
   -60,-10
   360,370
points:
  50,25
  50,225
  250,225
  250,25
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.008
max_adjust: 6

[bed_mesh]
speed: 200
horizontal_move_z: 10
mesh_min: 30, 30
mesh_max: 270, 270
probe_count: 9, 9
algorithm: bicubic
fade_start: 0.6
fade_end: 10.0
fade_target: 0

# Macros, PRINT_START/END, and SAVE_CONFIG live on the printer.
# Do not treat this GitHub copy as the live SAVE_CONFIG source.
# Live z_offset / shaper / PID / meshes: see printer SAVE_CONFIG on the Pi.
# This pack keeps hardware + bay fan settings in sync.
